.flip-horizontal {
    transform: rotate(0deg);
    transition: 2s;
}
.flip-horizontal:hover{
    transform: rotate(360);
}

body{
    text-align: center;
    /* background-color:#0c0c78 ; */
}
.result{
    /* background-color: white;
    width: 200px;
    border:solid black 2px;
    margin-left: 520px ; */
}

.won{
    color: greenyellow;
    /* border:solid black 2px; */
    /* background-color: white;
    width: 200px;
    margin-left: 520px ; */

}
.lost{
    color: red;
    /* border: solid black 2px; */
    /* background-color: white;
    width: 200px; */
    /* margin-left: 520px ; */
}